.upper_section_title {
  display: block;
  width: 100%;
  height: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.84px;
  color: #000000;
  text-transform: none;
  text-align: left;
}

.section_title_div {
  display: block;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 1%;
}

.section_container {
  width: 1116px;
  height: 630px;
  margin-top: 64px;
}

.feature_items_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1120px;
  height: 495px;
}

@media screen and (max-width: 768px) {
  .section_container {
    display: block;
    margin-top: 10%;
    height: auto;
  }
  .feature_items_container {
    flex-direction: column;
  }
}
