.headercontainer {
  background-color: #252525;
  height: 40px;
  font-family: Lato, Arial, serif;
}

.headercontainer li {
  color: #d8d8d8;
  list-style-type: none;
  margin-top: 14px;
  font-size: 16px;
}

.headercontainer ul {
  display: inline;
  padding: 0 0 2px;
  margin-right: 0;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 156.5px;
}

.socialmedia li {
  display: inline;
  padding-right: 20px;
  font-size: 0.75em;
}

.socialmediafit {
  margin-top: auto;
  margin-bottom: auto;
}

.login_register_section {
  color: #9b9b9b;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  max-width: 209px;
  margin-left: auto;
  margin-right: 0;
}

.logout{
  max-width: 50px;
}

.login_register_section a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .socialmediafit {
    margin: auto;
  }

  .login_register_section {
    margin: auto;
  }
}
