.newsletterinput {
  width: 256px;
  border-radius: 0;
  background-color: #3b3b3b;
  border-style: none;
  color: #717171;
}

.newsletterbtn {
  color: white;
  border-radius: 0;
  border-color: #8367d8;
  margin-left: 24px;
  margin-right: 10px;
  width: stretch;
}

.newsletterbtn:hover {
  color: #8367d8;
}
